/*Reset styles*/
body{
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/*Header*/

header{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #1c1c1c83;
  padding: 0 71px;
  display: flex;
  font-size: 18px;
}

.left{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.left a{
  height: 100%;
  display: flex;
  align-items: center;
}

.left a img{
  height: 80%;
}

.right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 71px;
}

.right ul{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  padding-right: 71px;
}

.right ul a{
  cursor: pointer;
  margin-left: 24px;
  text-decoration: none;
  color: white;
}

.right ul a:first-of-type{
  font-weight: bold;
}

.right ul a:first-of-type:hover, .right ul li:nth-child(2):hover{
  opacity: .8;
}

.right ul a:nth-child(2){
  font-weight: lighter;
}

.right ul a:last-of-type{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 45px;
  background-color: #554F95;
  text-align: center;
  border-radius: 6px;
}

.right ul a:last-of-type:hover{
  background-color: #5048a2;
}

/*Carrusel*/

.featured{
  background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/11/john-wick-4-2869783.jpg?tf=3840x);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
}

.backdrop{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

.sub-featured{
  position: relative;
  width: 80%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div{
  width: 0px;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out ;
}

.main-div.active{
  opacity: 1;
  width: 100%;
  height: 100%;
  max-height: 1000px;
  display: flex;
  overflow: visible;
}

.image{
  width: 30%;
  position: relative;
  z-index: 3;
}

.image img{
  width: 100%;
  height: 100%;
}

.punctuation{
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: #554F95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 59px;
  border-radius: 6px;
}

.punctuation p, .punctuation span{
  color: white;
  font-size: 12px;
}

.pointers{
  position: absolute;
}

.text-icons{
  position: relative;
  width: 70%;
  height: 100%;
}

.text{
  position: relative;
  top: 16px;
  left: -20px;
  width: 90%;
  height: auto;
  background-color: #d9d9d993;
  padding: 20px 52px;
  border-top: 5px solid #554F95;
  border-bottom: 5px solid #554F95;
  border-right: 5px solid #554F95;
  z-index: 1;
  border-radius: 6px;
}

.text h1{
  font-size: 69px;
  font-weight:normal;
  margin: 0;
}

.text hr{
  margin-right: 40%;
  border: 1px solid black;
  margin-bottom: 50px;
}

.text p{
  font-size: 18px;
}

.icons{
  position:relative;
  top: 10%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(.7);
  z-index: 10000;
}

.icons div{
  height: 100px;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons div:first-of-type{
  margin-right: 100px;
}

.icons div div{
  height: 80px;
  width: 85px;
  position: absolute;
  top: -16%;
  left: -6%;
  background-color: #554F95;
  border-radius: 15px;
  z-index: -1;
}

.icons div > a{
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.icons div > p{
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.icons div > *{
  width: 90px;
  height: 90px;
  font-size: 90px;
}

.svg-ticket{
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.icons div > a:hover{
  opacity: .7;
}


.pointers{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%;
  height: 100%;
  color: black;
}

.pointers button{
  background-color: transparent;
  border: none;
}

.pointers button > img {
  width: 90px;
  height: 65px;
  cursor: pointer;
}

.pointers button > img:hover{
  opacity: .7;
}

.pointers button:last-of-type > img{
  transform: rotate(180deg);
}

/*Billboard*/

.billboard{
  width: 100%;
  height: auto;
  background-color: #2A303C;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.palomitas-tres{
  position:absolute;
  top: 140%;
  right: 0%;
  width: 100px;
  height: 400px;
}

.billboard h2{
  margin: 0;
  padding: 30px 0 35px 71px;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.first-row, .second-row{
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-bottom: 47px;
  flex-wrap: wrap;
}

.card{
  width: 161px;
  height: 332px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 20px 40px 20px;
}

.card div{
  display: flex;
  color:white;
}


.card h3{
  width: 140%;
  font-size: 15px;
  font-weight: lighter;
  text-align: start;
  color: white;
  height: auto;
  margin: 0 0 5px 0;
}

.card img{
  object-fit: cover;
  width: 100%;
  height: 283px;
  display: block;
}

.card button{
  width: 100%;
  height: 25px;
  background-color: #554F95;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  font-size: 11px;
  font-weight: normal;
  color: white;
  cursor: pointer;
}

.card button:hover{
  background-color: #5048a2;
}

/*Ticket*/

.ticket{
  width: 100%;
  height: 100vh;
  background-color: #282828;
  position: relative;
  display: flex;
  flex-direction: column;
}

.palomita{
  position:absolute;
  bottom: 0;
  width: 500px;
  height: 500px;
}

.palomitaDos{
  position:absolute;
  right: 0;
  bottom: 10%;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.ticket-title{
  padding-top: 100px;
  padding-left: 71px;
}

.ticket-title h2{
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.ticket-title span{
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.ticket-form{
  width: 100%;
  height: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.ticket-form form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
}

.div-input{
  width: 448px;
  height: 77px;
  position: relative;
  margin-top: 37px;
}

.div-input strong{
  position: absolute;
  top: -60px;
  left: 65px;
  background-color: rgb(219, 56, 56);
  padding: 10px;
  border-radius: 6px;
}


.div-input select, .div-input input{
  position: relative;
  background-color: transparent;
  color: white;
  font-size: 21px;
  font-weight: bold;
  width: 100%;
  border: 2px solid #554F95;
  border-radius: 6px;
  appearance: none;
}

.div-input select, .div-input input{
  position: relative;
  padding: 19px 22px;
  z-index: 3;
}

.div-input input{
  width: 90%;
}


.div-input select:focus{
  background-color: rgba(0, 0, 0, 0.518);
  color: white;
}

.ticket-icon{
  position: absolute;
  top: 17%;
  right: 6%;
  z-index: 1;
  color: white;
  font-size: 2.2rem;
}

.label-uno{
  position: absolute;
  width: auto;
  top: -9px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  z-index: 999;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #282828;
}

.label-dos{
  position: absolute;
  width: auto;
  top: -9px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  z-index: 999;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #282828;
}

.label-tres{
  position: absolute;
  width: auto;
  top: -9px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  z-index: 999;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #282828;
}

.ticket-buttons{
  width: 357px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 3;
}

.ticket-buttons button:first-of-type{
  background-color: transparent;
  border: 2px solid #554F95;
  width: 237px;
  height: 100%;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-right: 47px;
}

.ticket-buttons button:last-of-type{
  font-size: 18px;
  font-weight: normal;
  color: #A9A9A9;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ticket-buttons button:first-of-type:hover,.ticket-buttons button:last-of-type:hover{
  opacity: .8;
}

.final-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 450px;
  color: white;
  text-align: center;
  margin-top: 37px;
}

.final-div span{
  font-size: 23px;
  font-weight: bold;
  color: #8D8D8D;
  margin-bottom: 9px;
}

.final-div h3{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 28px;
}

.final-div p{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/*Responsive design*/

@media screen and (max-width: 1300px){
  .text{
    width: 80%;
    height: 300px;
    overflow-y: scroll;
  }
  .image{
    width: 40%;
    height: 100%;
  }
  .icons{
    transform: scale(.6);
  }
}

@media screen and (max-width: 950px){
  .sub-featured{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .main-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .punctuation{
    top: 16%;
  }

  .text{
    display: none;
  }

  header{
    padding: 0 20px;
  }

  .right{
    padding: 0 30px;
  }
  
  .right ul{
    display: none;
  }

  .right > svg{
    cursor: pointer;
    width: 85px;
    height: 100%;
  }
  
  .image{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 30px;
  }

  .image img{
    height: 65%;
    width: 100%;
  }

  .image h1{
    height: 10%;
    width: 100vw;
    text-align: center;
    color: white;
    font-weight: normal;
  }

  .icons{
    padding-bottom: 20px;
  }

  .text-icons{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    transform: scale(1.3);
  }

  .pointers{
    height: 60%;
    margin-bottom: 140px;
  }

  .pointers button > img {
    width: 60px;
    height: 40px;
  }
}

@media screen and (max-width: 600px){

  /*Header*/

  header{
    height: 60px;
  }

  /*Icons*/

  .icons div:first-of-type{
    margin-right: 50px;
  }

  .icons{
    transform: scale(.5);
    top: 20%;
  }

  .featured{
    margin-top: -38px;
  }

  /*Ticket*/

  .div-input{
    width: 88%;
    margin-top: 20px;
  }

  .ticket-form form{
    margin-bottom: 0;
    margin-top: 30px;
  }

  .ticket-buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ticket-buttons button:first-of-type{
    margin: 0;
    width: 249px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  .ticket-title{
    padding: 80px 0 30px 22px;
  }

  .ticket-title h2{
    margin-bottom: 15px;
  }

  .final-div{
    width: 100%;
  }

  .final-div h3{
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .final-div p{
    font-size: 12px;
    margin: 0 77px;
  }

  /*Billboard*/

  .billboard h2{
    padding: 9px 0 27px 22px;
  }
}